<div class="container mt-4">

  <h2 class="text-center mb-4">Peliculas uniandes</h2>

  <div *ngIf="movie" class="row">

    <div class="col-md-4">
      <img [src]="movie.poster" class="img-fluid rounded" />
    </div>

    <div class="col-md-8">

      <h3>{{ movie.titulo }}</h3>

      <div class="row mt-3">
        <div class="col-md-6">
          <p><strong>Actores: </strong>{{ movie.actores }}</p>
          <p><strong>Calificacion: </strong>{{ movie.calificacion }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Duracion: </strong>{{ movie.duracion_minutos }} min</p>
        </div>
      </div>

      <hr />

      <h4>Actores</h4>
      <ul>
        @for (ing of movie.actores; track ing.nombre) {
          <li>{{ ing.nombre }} – {{ ing.cantidad }}</li>
        }
      </ul>

      <h4 class="mt-4">Actor con mas peliculas</h4>

<div class="alert alert-info">
  <strong>{{ getAutorMasVisto().nombre }}</strong>
</div>


      <button class="btn btn-primary mt-3" routerLink="/movie">
        Regresar
      </button>

    </div>

  </div>
</div>
