<div class="container mt-4">

  <h2 class="text-center mb-4">peliculas</h2>

  <div class="row">

    @for (movie of movies; track movie.id) {
      <div class="col-md-4 mb-4">

        <div class="card h-100">

          <img [src]="movie.poster" class="card-img-top" alt="imagen" />

          <div class="card-body">

            <h5 class="card-title">{{ movie.titulo }}</h5>

            <p><strong>duracion: </strong>{{ movie.duracion_minutos }}</p>

            <button
              class="btn btn-primary"
              [routerLink]="['/movie', movie.id]"
            >
              Ver la pelicula
            </button>

          </div>

        </div>
    </div>
    }

  </div>
</div>
